.sunny {
    background-color: #ffeb3b;
    background-image: url('./images/sunny.png');
    color: #000;
  }
  
  .rainy {
    background-color: #607d8b;
    background-image: url('./images/rainy.png');
    color: #fff;
  }
  
  .cloudy {
    background-color: black;
    background-image: url('./images/windy.png');
    color: black;
  }
  
  .snowy {
    background-color: #e0f7fa;
    background-image: url('./images/rainy.png');
    color: #000;
  }
  
  .default-weather {
    background-color: #f5f5f5;
    color: #000;
  }
  
  body {
    background-size: cover;
    background-position: center;
  }
  